@use "../variables" as *;
@use "../mixins" as *;

.useful__box {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../../images/usbg.png);
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: calc(100% - 0px) calc(50% - 0px);
    background-color: #0b7572;
}

.useful__title {
    color: $main-footer-text-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 55px */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

.useful__list {
    padding-top: 48px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    @include lists;
}

.useful__item {
    padding-top: 95px;
    position: relative;
}

.useful__item::before {
    content: "";
    width: 90px;
    height: 88px;
    background-image: url(../../images/usone.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.useful__item:nth-child(2)::before {
    content: "";
    width: 91px;
    height: 88px;
    background-image: url(../../images/ustwo.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.useful__item:nth-child(3)::before {
    content: "";
    width: 91px;
    height: 88px;
    background-image: url(../../images/usthere.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.useful__item:nth-child(4)::before {
    content: "";
    width: 91px;
    height: 88px;
    background-image: url(../../images/usfore.svg);
    position: absolute;
    top: 0;
    left: 0;
}

.useful__bold {
    display: inline-block;
    color: $main-text-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 27px */
    margin-top: 0;
    margin-bottom: 16px;
}

.useful__text {
    color: $main-desc-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
    .useful__box {
        padding-top: 112px;
        padding-bottom: 106px;
        background-image: url(../../images/usbg.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: calc(100% - 0px) calc(50% - 0px);
        background-color: #0b7572;
    }

    .useful__small {
        width: 288px;
    }

    .useful__title {
        font-size: 44px;
    }
}

@media only screen and (min-width: 700px) {
    .useful__title {
        margin-left: 0;
    }

    .useful__box {
        padding-left: 85px;
    }

    .useful__list {
        row-gap: 50px;
    }

    .useful__item {
        padding-top: 0;
        padding-left: 140px;
        padding-right: 120px;
        margin-left: 100px;
    }

    .useful__bold {
        font-size: 20px;
    }

    .useful__text {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1100px) {
    .useful__box {
        padding-top: 172px;
        padding-bottom: 160px;
        padding-left: 88px;
        background-image: url(../../images/usedesctop.png);
    }

    .useful__title {
        font-size: 48px;
    }

    .useful__small {
        width: 360px;
    }

    .useful__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 62px;
        padding-top: 72px;
        padding-left: 66px;
        padding-right: 110px;
        padding-bottom: 122px;
    }

    .useful__item {
        max-width: 410px;
        padding-right: 0;
        margin-left: 0;
    }

    .useful__item:nth-child(2)::before {
        background-image: url(../../images/usthere.svg);
    }

    .useful__item:nth-child(3)::before {
        background-image: url(../../images/ustwo.svg);
    }
}

@media only screen and (min-width: 1200px) {
    .useful__list {
        padding-right: 178px;
    }
}
